body{
    margin: auto;
    font-family: Arial;
    font-size: 12px;
    background-color: #ceceff;
}
a{
    text-decoration: none;
}
img{
    border: none;
}
/**/
#contenedor{
    width: auto;
}
#cabecera{
    font-family: sans-serif;
    font-size: 14px;
    padding: 5px;
    background-color: #ffffcc;
    border-bottom: 1px solid #c1c1c1;
    text-align: center;
}
#menu{
    border-bottom: 1px solid #C1C1C1;
    background-color: #000000;
    overflow: hidden;
}
#opcion1{
    float: left;
    padding: 5px;
}
#opcion2{
    width: 80px;
    background-color: #4a4a4a;
    float: right;
    padding: 5px;
}
#submenu{
    border-bottom: 1px solid #C1C1C1;
    background-color: #363636;
    width: 100%;
    padding: 5px 0px;
}
#menu a, #submenu a{
    padding: 5px 10px;
    color: WHITE;
}
/* CUERPO */
#cuerpo{
    width: 900px;
    margin: auto;
    background-color: white;
    border: 1px solid #363636;
    padding: 2px;
}
/* mensajes y otros*/
#mensaje_error{
    padding: 5px;
    border: 1px solid red;
    background-color: #f1f1f1;
}
#espacioblanco{
    padding: 5px;
}
/*TABLAS*/
th, td{
    border: 1px solid #c1c1c1;
}
th{
    background-color: #f1f1f1;
}
td{
    color: ;
}